<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ site.baseurl }}/">
            <div class="logo-container">
                  <div class="logo">
                      <img src="{{ site.avatar }}" alt="{{ site.name }} Logo" rel="tooltip" title="{{ site.description }}" data-placement="bottom" data-html="true">
                  </div>
                  <div class="brand">
                      {{ site.name }}
                  </div>


        </div>
          </a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-index">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">
            <i class="material-icons">home</i> Home
          </a>
        </li>
        <li>
          <a href="/landing">
            <i class="material-icons">flight_land</i> Landing
          </a>
        </li>
        <li>
          <a href="/post-list">
            <i class="material-icons">dashboard</i> Blog
          </a>
        </li>

        <li>
          <a href="/about">
            <i class="material-icons">unarchive</i> About
          </a>
        </li>
        <li>
          <a rel="tooltip" title="Follow us on Twitter, MEOW" data-placement="bottom" href="https://twitter.com/lantoniotrento" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a rel="tooltip" title="Like us on Facebook, Purr" data-placement="bottom" href="https://www.facebook.com/lantoniotrento" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a rel="tooltip" title="Follow us on Instagram, Purr MEOW" data-placement="bottom" href="https://www.instagram.com/lantoniotrento" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-instagram"></i>
          </a>
        </li>

        </ul>
      </div>
  </div>
</nav>
<!-- End Navbar -->
