---
layout: default
---
<div class="main main-raised">
  <div class="section section-basic">
      <div class="container">
<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>

      <div class="row sharing-area text-center">
              <h3>Thank you for supporting us!</h3>
              <a href="#" class="btn btn-twitter">
                  <i class="fa fa-twitter"></i>
                  Tweet
              </a>
              <a href="#" class="btn btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                  Share
              </a>
    <a href="#" class="btn btn-google-plus">
                  <i class="fa fa-google-plus"></i>
                  Share
              </a>
    <a href="#" class="btn btn-github">
                  <i class="fa fa-github"></i>
                Star
              </a>
    </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
</div>
</div>
</div>
