---
layout: default
---
<div class="main main-raised">
  <div class="section section-basic">
      <div class="container">
      <article class="post">
        <h2>{{ page.title }}</h2>

        <div class="entry">
          {{ content }}
        </div>

            <div class="row sharing-area text-center">
                    <h3>Thank you for supporting us!</h3>
                    <a href="#" class="btn btn-twitter">
                        <i class="fa fa-twitter"></i>
                        Tweet
                    </a>
                    <a href="#" class="btn btn-facebook">
                        <i class="fa fa-facebook-square"></i>
                        Share
                    </a>
          <a href="#" class="btn btn-google-plus">
                        <i class="fa fa-google-plus"></i>
                        Share
                    </a>
          <a href="#" class="btn btn-github">
                        <i class="fa fa-github"></i>
                      Star
                    </a>
          </div>


          <!-- End Navbar Primary -->
        {% include disqus.html %}
</article>
</div>

<!-- Navbar Primary  -->
<nav class="navbar navbar-primary">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-primary">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#pablo">Written on</a>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-primary">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
                      <li>
                          <a>
            <i class="material-icons">query_builder</i>
            {{ page.date | date: "%B %e, %Y" }}
                          </a>
                      </li>
      </ul>
    </div>
  </div>
</nav>


</div>
</div>
